# https://deacon-overcook-heftiness.ngrok-free.dev
# http://127.0.0.1:8000

VITE_API_BASE_URL = base url of backend api, port 8000 if in development!

VITE_CARTO_MAP_API_KEY = Carto Maps API Key, necessary to remove api warnings on map!